doctype html
html
    head
        title= title
        link(rel="stylesheet", href="/style.css")
    body
        nav
            a(href="/") Home |
            a(href="/services") Our Services |
            a(href="/contact") Contact Us
        h1 Contact Us
        p Email us at contact@example.com
